.HeroDiv{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(95, 217, 233);
    color: white;
    height: 72%;
    width: 25%;
    font-family: Anton;
    font-size: 2.5vw;
}

.Status{
    padding-top: 18px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: justify;
    width: 85%;
    height: 28%;
    justify-items: center;
    border-style: solid;
    border-radius: 8px;
    column-count: 2;
    background-color: rgb(95, 217, 233);
    color: white;
    font-family: Anton;
    font-size:1.8vw;
}